@import "../../assets/stylesheets/import";

.wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
}

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  color: $white;
  cursor: pointer;
  transition: background-color 0.5s;
}

.playButton {
  composes: button;

  background-color: $green;
  &:hover {
    background-color: lighten($green, 10%);
  }
}

.resetButton {
  composes: button;

  background-color: $grey-light;
  &:hover {
    background-color: darken($grey-light, 10%);
  }
}