@import "../../assets/stylesheets/import";

.saveButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  background-color: $green;
  text-align: center;
  color: $white;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: lighten($green, 10%);
  }
}
