@import "../../assets/stylesheets/import";

.map {
  width: 100%;
  max-width: 300px;
  margin-bottom: 60px;
  border: 5px solid $grey-light;
  transition: border-color 0.5s;

  &:hover {
    border-color: $grey;
  }

  img {
    cursor: pointer;
    width: 100%;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: $grey-light;
}

.name {
  font-style: italic;
  font-size: 12px;

  span {
    color: $main;
  }
}
