@import "../../assets/stylesheets/import";

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  strong {
    color: $main;
  }
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  color: $main;

  &::before {
    content: "";
    flex-grow: 1;
    max-width: 100px;
    height: 1px;
    margin-right: 5px;
    background-color: $main;
  }

  &::after {
    content: "";
    flex-grow: 1;
    max-width: 100px;
    height: 1px;
    margin-left: 5px;
    background-color: $main;
  }
}

.maps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
