@import "../../assets/stylesheets/import";

.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.nameInput {
  width: 100%;
  max-width: 425px;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid $tile-green;
}

.info {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
}

.grid {
  width: 1000px;
  height: 1000px;
  margin: 0 auto 10px;
  border: 1px solid $tile-green;
  box-sizing: content-box;
}
